<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GcblPrincipalDatabase" connectionString="metadata=res://*/GcblPrincipalDatabase.csdl|res://*/GcblPrincipalDatabase.ssdl|res://*/GcblPrincipalDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=GcblPrincipalDatabase;persist security info=True;user id=sa;password=qwerty%1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>