<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  
  <!-- WCF Service Configuration -->
  <!--<system.serviceModel>
    
    --><!-- Behaviors (Particular Services Configurations) --><!--
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetTcpBehavior">
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.
               Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    --><!-- Bindings (Particular Endpoints Configurations) --><!--
    <bindings>
      --><!-- NetTcp system-provided binding --><!--
      <netTcpBinding>
        --><!-- My custom configuration --><!--
        <binding name="NetTcpBinding"
                 maxBufferSize="100"
                 maxConnections="50"
                 closeTimeout="10"
                 receiveTimeout="5"
                 sendTimeout="5"
                 transferMode="Buffered" />
      </netTcpBinding>
    </bindings>
    
    --><!-- Services --><!--
    <services>
      --><!-- EnterpriseService --><!--
      <service behaviorConfiguration="NetTcpBehavior" name="Enterprise.Service.Client.EnterpriseService">
        --><!-- Default Endpoint Configuration --><!--
        --><!-- Default address = net.tcp://localhost:7171/EnterpriseService/EnterpriseService.svc --><!--
        <endpoint address=""
                  binding="netTcpBinding" bindingConfiguration="NetTcpBinding" 
                  contract="Enterprise.Service.Client.DataService.IDataService">
          --><!-- Expected Identity of the Endpoint --><!--
          <identity>
            <dns value="localhost" />
            --><!--
            <certificate encodedValue="String" />
            <certificateReference findValue="String"
               isChainIncluded="true"
               storeName="path" storeLocation="path"
               X509FindType= "Enumeration." />
            <rsa value="String" />
            <servicePrincipalName value="String" />
            <usePrincipalName value="String" />--><!--
          </identity>
        </endpoint>
        --><!-- Metadata Exchange Endpoint Configuration --><!--
        <endpoint address="mex" binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        
        --><!-- Configuration of a Service Host --><!--
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7171/EnterpriseService" />
          </baseAddresses>
          <timeouts closeTimeout="10" openTimeout="10" />
        </host>
      </service>
    </services>
    
    --><!-- Default protocol mappings between transport scheme (http, net.tcp, etc.)
         and WCF bindings (basicHttpBinding, netTcpBinding, etc.) --><!--
    <protocolMapping>
      <add binding="netTcpBinding" scheme="net.tcp"/>
      --><!--
      <add binding="basicHttpBinding" scheme="http/https" />
      <add binding="netNamedPipeBinding" scheme="net.pipe" />
      <add binding="netMsmqBinding" scheme="net.msmq" />--><!--
    </protocolMapping>
    
    --><!-- Service hosting environment configurations --><!--
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"
                               minFreeMemoryPercentageToActivateService="5" />
    
  </system.serviceModel>-->
  
  <!-- Web Server Configuration -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>