<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <connectionStrings>
    <add name="NorthwindContext" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Northwind;persist security info=True;user id=sa;password=qwerty%1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- WCF Service Configuration -->
  <system.serviceModel>

    <!-- Behaviors (Particular Services Configurations) -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetTcpBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.
               Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- Bindings (Particular Endpoints Configurations) -->
    <bindings>
      <!-- NetTcp system-provided binding -->
      <netTcpBinding>
        <!-- My custom configuration -->
        <binding name="NetTcpBinding"
                 openTimeout="00:00:30"
                 closeTimeout="00:00:30"
                 receiveTimeout="00:00:30"
                 sendTimeout="00:02:00"
                 transferMode="Buffered" />
      </netTcpBinding>
    </bindings>

    <!-- Services -->
    <services>
      <!-- EnterpriseService -->
      <service behaviorConfiguration="NetTcpBehavior" name="Enterprise.Service.Client.EnterpriseService">
        <!-- Default Endpoint Configuration -->
        <!--<endpoint address=""-->
        <endpoint name="base" address="net.tcp://localhost:9010/EnterpriseService"
                  binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
                  contract="Enterprise.Service.Client.DataService.IDataService">
          <!-- Expected Identity of the Endpoint -->
          <identity>
            <dns value="localhost" />
            <!--
            <certificate encodedValue="String" />
            <certificateReference findValue="String"
               isChainIncluded="true"
               storeName="path" storeLocation="path"
               X509FindType= "Enumeration." />
            <rsa value="String" />
            <servicePrincipalName value="String" />
            <usePrincipalName value="String" />-->
          </identity>
        </endpoint>
        <!-- Metadata Exchange Endpoint Configuration -->
        <endpoint address="mex" binding="mexTcpBinding"
                  contract="IMetadataExchange" />

        <!-- Configuration of a Service Host -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9010/EnterpriseService" />
          </baseAddresses>
          <timeouts closeTimeout="00:00:30" openTimeout="00:00:30" />
        </host>
      </service>
    </services>

    <!-- Default protocol mappings between transport scheme (http, net.tcp, etc.)
         and WCF bindings (basicHttpBinding, netTcpBinding, etc.) -->
    <protocolMapping>
      <add binding="netTcpBinding" scheme="net.tcp"/>
      <!--
      <add binding="basicHttpBinding" scheme="http/https" />
      <add binding="netNamedPipeBinding" scheme="net.pipe" />
      <add binding="netMsmqBinding" scheme="net.msmq" />-->
    </protocolMapping>

    <!-- Service hosting environment configurations -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"
                               minFreeMemoryPercentageToActivateService="5" />

  </system.serviceModel>

</configuration>
